<br><br><Br><br><Br>
<div class="container">
    <button class="btn btn-outline-success w-100 mt-5" [routerLink]="['./UserHead']" routerLinkActive="router-link-active" >Go To User Header</button>
    <button class="btn btn-outline-success w-100 mt-5" [routerLink]="['./UserManagement']" routerLinkActive="router-link-active" >Go To User Management</button>
    <button class="btn btn-outline-success w-100 mt-5" [routerLink]="['./uchat']" routerLinkActive="router-link-active" >Go To ChatBox</button>
    <button class="btn btn-outline-dark w-100 mt-5" (click) ="logOut()">SignOut</button>
</div>
<br><br><Br><br><Br>

<router-outlet></router-outlet>
