<br><br><br>
<h1 class="text-center text-success">Register Form</h1>
<div class="container">
  <div class="container-fluid">
    <form [formGroup]="ContactForm" (ngSubmit)="RegisterUser()">
      <div class="mb-3">
        <input type="text" class="form-control" formControlName="Name" placeholder="Enter Your Name">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" formControlName="Mobile" placeholder="Enter Your Mobile">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" formControlName="Address" placeholder="Enter Your Address">
      </div>
      <div class="mb-3">
        <input type="file" placeholder="Please Upload Your Image" class="form-control form-control-dark" required
          (change)="onFileSelect($event)">
      </div>
      <button type="submit" class="btn btn-outline-primary w-100">Submit</button>
    </form>
  </div>
</div>
<br><br><br>