<!-- Site footer -->
<footer class="site-footer p-0">
        <div class="container">
          <h4 class="text-white text-center p-3"><span
              class="font-weight-bold h-50 text-white align-text-bottom">|</span>PromiseFitness</h4>
          <div class="row">
      
            <div class="col-sm-12 col-md-6">
              <h6>About Promise Fitness</h6>
              <p class="text-justify hovr">Promise Fitness goes beyond just fitness apparel & accessories! We are here to
                support everyone’s journey. Everyone is different and our differences make us who we are.
      
                We all have goals and a purpose in this world & all of us should be supported for our authentic self. That is
                our superpower; to be ourselves.
      
                We challenge you all, everyday to better yourselves in some way. We all have goals! But, in order to achieve
                your goals you are going to have to put the work in. Therefore, our philosophy is that you should take each
                day to improve on yourself and your future goals in some way.
      
                Consistent Small Goals Sought Out to Conquer Each Day Will Be More Beneficial In Achieving Your End Goal
      
                It’s time to spread positivity & support our individuality! Because at the end of the day, the best project
                you’ll ever work on is yourself.
      
                Make A Promise, And Keep It.
                <br>
                <br>
                We are here to Motivate•Inspire•Create for generations to come
                <br>
      
                This Is The New Era
                <br>
      
                Promise Fitness is Led By:
                <br>
      
                Founder: Jeffrey Oliveira
                <br>
      
                Videographer/Photographer: Shams Ali
                <br>
      
              </p>
            </div>
      
            <div class="col-sm-6 col-md-3 ">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a>Men</a></li>
                <li><a>Women</a></li>
                <li><a>Accessories</a></li>
                <li><a>Collections</a></li>
              </ul>
            </div>
      
            <div class="col-sm-6 col-md-3 ">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a >Home</a></li>
                <li><a >Products</a></li>
                <li><a >Become A Black Panther</a></li>
                <li><a >AboutUs</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text hovr">Copyright &copy; All Rights Reserved by
                <span class="text-white">PromiseFitness</span>.
              </p>
            </div>
      
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" target=”_blank” href="https://www.facebook.com/pfpromisefitness/"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" target=”_blank” href="https://www.instagram.com/promisefitness/"><i
                      class="fa fab fa-instagram"></i></a></li>
                <li><a class="dribbble" target=”_blank” href="https://www.youtube.com/channel/UCGVVexhmIp8Q3n4hwn0BC-A"><i
                      class="fa fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>